{% extends 'mail/mail-base.twig' %}
{% set sentence = (jobs|length) > 1 ? 'zijn de volgende vacatures' : 'is de volgende vacature' %}
{% block content %}
    Beste {{ name }},<br />
    <br />
    Afgelopen week {{ sentence }} geplaats.<br />
    <br /><br />
    {% for job in jobs %}
        {% set type = job.meta('location_type') %}
        {% set hours = job.meta('hours') %}
        {% if type == 'school' %}
            {% set school_id = job.meta('school') %}
            {% set school = Post(school_id) %}
            {% set school_name = school.title %}
            {% set city = school.location.city %}
        {% else %}
            {% set city = job.location.city %}
            {% set school_name = false %}
        {% endif %}

        <table>
            <tr>
                {% if job.title %}
                    <td>
                        <strong>Vacature:</strong>
                    </td>
                    <td>
                        {{ job.title }}
                    </td>
                {% endif %}
            </tr>
            <tr>
                {% if school_name %}
                    <td>
                        <strong>School:</strong>
                    </td>
                    <td>
                        {{ school_name }}
                    </td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    <strong>Plaats:</strong>
                </td>
                <td>
                    {{ city }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Aantal uur:</strong>
                </td>
                <td>
                    {{ hours }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    <p>
                        {{ lemon_excerpt(job, 300) }}
                    </p>
                    <a href=" {{ job.link }}"><strong>Lees de hele vacature</strong></a>
                </td>
            </tr>
        </table>
        <br /><br />
    {% endfor %}
{% endblock %}
