{% set type = post.meta('location_type') %}
{% if type == 'school' %}
    {% set school_id = post.meta('school') %}
    {% set school = Post(school_id) %}
    {% set school_name = school.title %}
    {% set city = school.location.city %}
{% else %}
    {% set city = post.location.city %}
    {% set school_name = false %}
{% endif %}
{% if school_name %}
    <div class="{{ class }}">
        <i class="icon-school"></i>
        {{ school_name }}
    </div>
{% endif %}
{% if city %}
    <div class="{{ class }}">
        <i class="wp-lemon-icon-pin"></i>
        {{ city }}
    </div>
{% endif %}
{% if hours %}
    <div class="{{ class }}">
        <i class="icon-clock"></i>
        {{ hours }} uur
    </div>
{% endif %}
